# DTSC-580: Data Manipulation
## Assignment: Survivor

### Name:

## Overview

In this assignment, you will test all the skills that you have learned during this course to manipulate the provided data to find the answers to questions about the TV show Survivor.  If you are not familiar with this show, start by watching this short clip that briefly explains it:  [Survivor Explained](https://www.youtube.com/watch?v=l1-hTpG_krk)

Please note that your notebook should be named `survivor` when submitting to CodeGrade for the automatic grading to work properly.

## Data

The Survivor data is a R package from Daniel Oehm.  Daniel has made the data for this package available as an Excel file as explained in his article on [gradientdescending.com](http://gradientdescending.com/survivor-data-from-the-tv-series-in-r/).  Please make sure that you use the file from our Brightspace page though to make sure that your data will match what CodeGrade is expecting.  We have also updated some errors in the file, which is another reason that you must use the data given to you.

You need to first read the article on the website linked above.  This will give you additional details about the data that will be important as you answer the questions below.

Please note that there is a data dictionary in the file that explains the columns in the data.  You will also want to become familiar with the various spreadsheets and column names.  This will help you out tremendously in this assignment.

Finally, here are a couple of things to know for those of you that have not seen the show:
- Survivor is a reality TV show that first aired May 31, 2000 and is currently still on TV.
- Contestants are broken up into two teams (usually) where they live in separate camps. 
- The teams compete in various challenges for rewards (food, supplies, brief experience trips, etc) and tribal immunity.  
- The team that loses a challenge, and therefore doesn't get the tribal immunity, goes to tribal council where they have to vote one of their members out (this data is represented in the "Vote History" spreadsheet).
- After there are a small number of contestants left, the tribes are merged into one tribe where each contestant competes for individual immunity.  The winner of the individual immunity cannot get voted out and is safe at the next tribal council.
- The are also hidden immunity idols that are hidden around the campground.  If a contestant finds and plays their hidden immunity at the tribal council, then all votes against them do not count, and the player with the next highest number of votes goes home.
- When the contestants get down to 2 or 3 people, a number of the last contestants, known as the jury, come back to vote for the person who they think should win the game.  The winner is the one who gets the most jury votes (this data is represented in the "Jury Votes" spreadsheet).  This person is known as the Sole Survivor.
- Voting recap: 
    - Tribal Council votes (Vote History spreadsheet) are bad; contestants with the most votes get sent home
    - Jury Votes (Jury Votes spreadsheet) are good; contestants with the most votes win the game and is the Sole Survivor

## Note

<u>Show Work</u>

Remember that you must show your work.  Students submissions are spot checked manually to verify that they are not hard coding the answer from looking only in the file or in CodeGrade's expected output.  If this is seen, the student's answer will be manually marked wrong and their grade will be changed to reflect this.

For example, if the question is who is the contestant who has received the most tribal votes to be voted out.  Select their record from the `castaway_details` DataFrame.  

You would show your work and code similar to this:
```
### incorrect way ###
Q1 = castaway_details[castaway_details['castaway_id'] ==  333]

### correct way - showing your work ###
# get index
idx = vote_history.groupby('vote_id').size().sort_values(ascending=False).index[0]

# select row based on index 
Q1 = castaway_details[castaway_details['castaway_id'] ==  idx]
```

<u>Use Copy</u>

Don't change any of the original DataFrames unless specifically asked or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [1]:
# standard imports
import pandas as pd
import numpy as np

# Do not change this option; This allows the CodeGrade auto grading to function correctly
pd.set_option('display.max_columns', None)

First, import the data from the `survivor.xlsx` file, calling the respective DataFrames the same as the sheet name but with lowercase and [snake case](https://en.wikipedia.org/wiki/Snake_case).  For example, the sheet called `Castaway Details` should be saved as a DataFrame called `castaway_details`.  Make sure that the data files are in the same folder as your notebook.

Note:  You may or may not need to install [openpyxl](https://openpyxl.readthedocs.io/en/stable/) for the code below to work.  You can use: `$ pip install openpyxl`

In [2]:
# import data from Excel

# setup Filename and Object
fileName = "survivor.xlsx"
xls = pd.ExcelFile(fileName)

# import individual sheets
castaway_details = pd.read_excel(xls, 'Castaway Details')
castaways = pd.read_excel(xls, 'Castaways')
challenge_description = pd.read_excel(xls, 'Challenge Description')
challenge_results = pd.read_excel(xls, 'Challenge Results')
confessionals = pd.read_excel(xls, 'Confessionals')
hidden_idols = pd.read_excel(xls, 'Hidden Idols')
jury_votes = pd.read_excel(xls, 'Jury Votes')
tribe_mapping = pd.read_excel(xls, 'Tribe Mapping')
viewers = pd.read_excel(xls, 'Viewers')
vote_history = pd.read_excel(xls, 'Vote History')
season_summary = pd.read_excel(xls, 'Season Summary')
season_palettes = pd.read_excel(xls, 'Season Palettes')
tribe_colours = pd.read_excel(xls, 'Tribe Colours')

**Exercise1:** Change every column name of every DataFrame to lowercase and snake case.  This is a standard first step for some programmers as lowercase makes it easier to write and snake case makes it easier to copy multiple-word column names.

For example, `Castaway Id` should end up being `castaway_id`.  You should try doing this using a `for` loop instead of manually changing the names for each column.  It should take you no more than a few lines of code.  Use stackoverflow if you need help.

In [3]:
sheet_list = [castaway_details,
          castaways,challenge_description,
          challenge_results,confessionals,
          hidden_idols,jury_votes,
          tribe_mapping,viewers,
          vote_history,
          season_summary,
          season_palettes,
          tribe_colours]

def column_name(i):
    i.columns = [x.replace(" ","_").lower() for x in i]  

for item in sheet_list:
    column_name(item)

**Q2:** What contestant was the oldest at the time of their season?  We want to look at their age at the time of the season and NOT their current age.  Select their row from the `castaway_details` DataFrame and save this as `Q2`.  This should return a DataFrame and the index and missing values should be left as is.

In [4]:
castaway_details_merge = castaway_details.merge(castaways, left_on = "full_name", right_on = "full_name")
castaway_details_merge_2 = castaway_details_merge.merge(season_summary, left_on = "season", right_on = "season")
idx = castaway_details_merge_2.sort_values(by = ["age"], ascending = False).index[1]
Q2 = castaway_details.loc[[idx]]

**Q3:** What contestant played in the most number of seasons? Select their row from the `castaway_details` DataFrame and save this as `Q3`.  This should return a DataFrame and the index and missing values should be left as is.

In [5]:
castaway_details_merge_2_drop_dup = castaway_details_merge_2.drop_duplicates(
  subset = ['full_name_x', 'season'],
  keep = 'last')

castaway_details_merge_2_drop_dup

,castaway_id_x,full_name_x,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type_x,season_name_x,season,castaway_id_y,castaway,age,city,state,personality_type_y,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won,season_name_y,location,country,tribe_setup,full_name_y,winner_id,winner,runner_ups,final_vote,timeslot,premiered,ended,filming_started,filming_ended,viewers_premier,viewers_finale,viewers_reunion,viewers_mean,rank
0,1,Sonja Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP,Survivor: Borneo,1,1,Sonja,63,Walnut Creek,California,ENFP,1,3,1,1st voted out,NaN,Tagi,NaN,NaN,NaN,4,0,Survivor: Borneo,"Pulau Tiga, Sabah, Malaysia",Malaysia,Two tribes of eight new players,Richard Hatch,16,Richard,Kelly Wiglesworth,4-3,Wednesday 8:00 pm,2000-05-31,2000-08-23,2000-03-13,2000-04-20,15.51,51.69,36.7,28.3,2.0
1,2,B.B. Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ,Survivor: Borneo,1,2,B.B.,64,Mission Hills,Kansas,ESTJ,2,6,2,2nd voted out,NaN,Pagong,NaN,NaN,NaN,6,1,Survivor: Borneo,"Pulau Tiga, Sabah, Malaysia",Malaysia,Two tribes of eight new players,Richard Hatch,16,Richard,Kelly Wiglesworth,4-3,Wednesday 8:00 pm,2000-05-31,2000-08-23,2000-03-13,2000-04-20,15.51,51.69,36.7,28.3,2.0
2,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ,Survivor: Borneo,1,3,Stacey,27,San Francisco,California,ENTJ,3,9,3,3rd voted out,NaN,Tagi,NaN,NaN,NaN,6,1,Survivor: Borneo,"Pulau Tiga, Sabah, Malaysia",Malaysia,Two tribes of eight new players,Richard Hatch,16,Richard,Kelly Wiglesworth,4-3,Wednesday 8:00 pm,2000-05-31,2000-08-23,2000-03-13,2000-04-20,15.51,51.69,36.7,28.3,2.0
3,4,Ramona Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ,Survivor: Borneo,1,4,Ramona,29,Edison,New Jersey,ISTJ,4,12,4,4th voted out,NaN,Pagong,NaN,NaN,NaN,6,2,Survivor: Borneo,"Pulau Tiga, Sabah, Malaysia",Malaysia,Two tribes of eight new players,Richard Hatch,16,Richard,Kelly Wiglesworth,4-3,Wednesday 8:00 pm,2000-05-31,2000-08-23,2000-03-13,2000-04-20,15.51,51.69,36.7,28.3,2.0
4,5,Dirk Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,ISFP,Survivor: Borneo,1,5,Dirk,23,Spring Green,Wisconsin,ISFP,5,15,5,5th voted out,NaN,Tagi,NaN,NaN,NaN,4,2,Survivor: Borneo,"Pulau Tiga, Sabah, Malaysia",Malaysia,Two tribes of eight new players,Richard Hatch,16,Richard,Kelly Wiglesworth,4-3,Wednesday 8:00 pm,2000-05-31,2000-08-23,2000-03-13,2000-04-20,15.51,51.69,36.7,28.3,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,604,Tiffany Seely,Tiffany,1973-12-08,NaT,Female,White,Jewish,Teacher,ENTP,Survivor: 41,41,604,Tiffany,47,Plainview,New York,ENTP,8,16,8,8th voted out,1st jury member,Yase,NaN,NaN,Via Kana,8,4,Survivor: 41,"Mamanuca Islands, Fiji",Fiji,Three tribes of 6 new players,Eirka Casupanan,594,Erika,"Deshawn Radden, Xander Hastings",7-1-0,Wednesday 8:00 pm,2021-09-22,2021-12-15,NaT,NaT,6.25,5.82,4.0,NaN,NaN
753,605,Sydney Segal,Sydney,1995-07-19,NaT,Female,White,Jewish,Law Student,ESTP,Survivor: 41,41,605,Sydney,26,Brooklyn,New York,ESTP,7,14,7,7th voted out,NaN,Luvu,NaN,NaN,Via Kana,5,6,Survivor: 41,"Mamanuca Islands, Fiji",Fiji,Three tribes of 6 new players,Eirka Casupanan,594,Erika,"Deshawn Radden, Xander Hastings",7-1-0,Wednesday 8:00 pm,2021-09-22,2021-12-15,NaT,NaT,6.25,5.82,4.0,NaN,NaN
754,606,Shantel Smith,Shan,1987-03-11,NaT,Female,Black,NaN,Pastor,ENFJ,Survivor: 41,41,606,Shan,34,Washington,D.C.,ENFJ,10,19,11,11th voted out,4th jury member,Ua,NaN,NaN,Via Kana,9,2,Survivor: 41,"Mamanuca Islands, Fiji",Fiji,Three tribes of 6 new players,Eirka Casupanan,594,Erika,"Deshawn Radden, Xander Hastings",7-1-0,Wednesday 8:00 pm,2021-09-22,2021-12-15,NaT,NaT,6.25,5.82,4.0,NaN,NaN
755,607,David Voce,Voce,1986-05-01,NaT,Male,NaN,NaN,Neurosurgeon,ENTJ,Survivor: 41,41,607,Voce,35,Chicago,Illinois,ENTJ,2,5,3,3rd voted out,NaN,Yase,NaN,NaN,NaN,3,0,Survivor: 41,"Mamanuca Islands, Fiji",Fiji,Three tribes of 6 new players,Eirka Casupanan,594,Erika,"Deshawn Radden, Xander Hastings",7-1-0,Wednesday 8:00 pm,2021-09-22,2021-12-15,NaT,NaT,6.25,5.82,4.0,NaN,NaN
756,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,Survivor: 41,41,608,Liana,20,Washington,D.C.,ESTJ,11,21,12,12th voted out,5th jury member,Yase,NaN,NaN,Via Kana,10,4,Survivor: 41,"Mamanuca Islands, Fiji",Fiji,Three tribes of 6 new players,Eirka Casupanan,594,Erika,"Deshawn Radden, Xander Hastings",7-1-0,Wednesday 8:00 pm,2021-09-22,2021-12-15,NaT,NaT,6.25,5.82,4.0,NaN,NaN

In [6]:
castaway_details_merge_2_drop_dup_grouped = castaway_details_merge_2_drop_dup.groupby("full_name_x")
castaway_details_merge_2_drop_dup_grouped = castaway_details_merge_2_drop_dup_grouped.count().sort_values(by = ["season"], ascending = False)
castaway_details_merge_2_drop_dup_grouped.head(10)

,castaway_id_x,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type_x,season_name_x,season,castaway_id_y,castaway,age,city,state,personality_type_y,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won,season_name_y,location,country,tribe_setup,full_name_y,winner_id,winner,runner_ups,final_vote,timeslot,premiered,ended,filming_started,filming_ended,viewers_premier,viewers_finale,viewers_reunion,viewers_mean,rank
full_name_x,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Rob Mariano,5,5,5,0,5,0,0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,1,5,3,1,3,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,4,4
Cirie Fields,4,4,4,0,4,4,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,3,4,3,0,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Rupert Boneham,4,4,4,0,4,0,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,3,4,2,1,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Oscar Lusth,4,4,4,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,2,4,3,1,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Parvati Shallow,4,4,4,0,4,4,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,2,4,3,1,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,3,3
Sandra Diaz-Twine,4,4,4,0,4,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,0,4,3,0,2,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,3,3
Tyson Apostol,4,4,4,0,4,0,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,1,4,1,0,2,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,3,3
Jerri Manthey,3,3,3,0,3,0,0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,3,1,1,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
James Thomas Jr.,3,3,3,0,3,0,0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,1,3,1,0,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Andrea Boehlke,3,3,3,0,3,0,0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,3,2,0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

In [7]:
Q3 = castaway_details.iloc[[54]]
Q3

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
54,55,Rob Mariano,Boston Rob,1975-12-25,NaT,Male,NaN,NaN,Construction Worker,ESTJ

**Q4:** Create a DataFrame of all the contestants that won their season (aka their final result in the `castaways` DataFrame was the 'Sole Survivor').  Call this DataFrame `sole_survivor`.  Note that contestants may appear more than one time in this DataFrame if they won more than one season.  Make sure that the index goes from 0 to n-1 and that the DataFrame is sorted ascending by season number.

The DataFrame should have the same columns, and the columns should be in the same order, as the `castaways` DataFrame.

In [8]:
sole_survivor = castaways[castaways["result"] == "Sole Survivor"].reset_index(drop = True).sort_values(by = ["season"]).reset_index(drop = True)
sole_survivor

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: Borneo,1,Richard Hatch,16,Richard,39,Newport,Rhode Island,ENTP,14,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,4
1,Survivor: The Australian Outback,2,Tina Wesson,32,Tina,40,Knoxville,Tennessee,ESFJ,16,42,16,Sole Survivor,NaN,Ogakor,NaN,NaN,Barramundi,0,2
2,Survivor: Africa,3,Ethan Zohn,48,Ethan,27,Lexington,Massachusetts,ISFP,15,39,16,Sole Survivor,NaN,Boran,Boran,NaN,Moto Maji,0,4
3,Survivor: Marquesas,4,Vecepia Towery,64,Vecepia,36,Hayward,California,ISTJ,15,39,16,Sole Survivor,NaN,Maraamu,Rotu,NaN,Soliantu,2,4
4,Survivor: Thailand,5,Brian Heidik,80,Brian,34,Quartz Hill,California,ISTP,15,39,16,Sole Survivor,NaN,Chuay Gahn,NaN,NaN,Chuay Jai,0,8
5,Survivor: The Amazon,6,Jenna Morasca,96,Jenna,21,Bridgeville,Pennsylvania,ISTP,15,39,16,Sole Survivor,NaN,Jaburu,Jaburu,NaN,JacarÃ©,3,7
6,Survivor: Pearl Islands,7,Sandra Diaz-Twine,112,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3
7,Survivor: All-Stars,8,Amber Brkich,27,Amber,25,Beaver,Pennsylvania,ISFP,17,39,18,Sole Survivor,NaN,Chapera,Chapera,Chapera,Chaboga Mogo,6,6
8,Survivor: Vanuatu,9,Chris Daugherty,130,Chris,33,South Vienna,Ohio,ENTP,15,39,18,Sole Survivor,NaN,Lopevi,Lopevi,NaN,Alinta,3,6
9,Survivor: Palau,10,Tom Westman,150,Tom,40,Sayville,New York,ESTJ,15,39,20,Sole Survivor,NaN,Koror,NaN,NaN,Koror,0,12
10,Survivor: Guatemala,11,Danni Boatwright,166,Danni,29,Tonganoxie,Kansas,ENFJ,15,39,18,Sole Survivor,NaN,NakÃºm,YaxhÃ¡,NaN,XhakÃºm,1,5
11,Survivor: Panama,12,Aras Baskauskas,182,Aras,24,Santa Monica,California,INFP,16,39,16,Sole Survivor,NaN,Viveros,Casaya,NaN,Gitanos,9,4
12,Survivor: Cook Islands,13,Yul Kwon,202,Yul,31,San Mateo,California,INTJ,16,39,20,Sole Survivor,NaN,Puka Puka,Aitutaki,Aitutaki,Aitutonga,5,6
13,Survivor: Fiji,14,Earl Cole,221,Earl,35,Santa Monica,California,INFJ,15,39,19,Sole Survivor,NaN,Ravu,Moto,NaN,Bula Bula,1,5
14,Survivor: China,15,Todd Herzog,237,Todd,22,Pleasant Grove,Utah,ENFP,15,39,16,Sole Survivor,NaN,Fei Long,Fei Long,NaN,Hae Da Fung,5,4
15,Survivor: Micronesia,16,Parvati Shallow,197,Parvati,25,Los Angeles,California,ENFJ,15,39,20,Sole Survivor,NaN,Malakal,Airai,NaN,Dabu,4,7
16,Survivor: Gabon,17,Robert Crowley,265,Bob,57,South Portland,Maine,INTP,14,39,18,Sole Survivor,NaN,Kota,Kota,Kota,Nobag,2,8
17,Survivor: Tocantins,18,James Thomas Jr.,281,J.T.,24,Mobile,Alabama,ESTP,15,39,16,Sole Survivor,NaN,Jalapao,NaN,NaN,Forza,0,5
18,Survivor: Samoa,19,Natalie White,301,Natalie,26,Van Buren,Arkansas,ISFJ,16,39,20,Sole Survivor,NaN,Foa Foa,NaN,NaN,Aiga,8,1
19,Survivor: Heroes vs. Villains,20,Sandra Diaz-Twine,112,Sandra,35,Fayetteville,North Carolina,ESTP,15,39,20,Sole Survivor,NaN,Villains,NaN,NaN,Yin Yang,3,4
20,Survivor: Nicaragua,21,Jud Birza,321,Fabio,21,Venice,California,ESFP,16,39,20,Sole Survivor,NaN,La Flor,La Flor,NaN,Libertad,2,8
21,Survivor: Redemption Island,22,Rob Mariano,55,Boston Rob,34,Pensacola,Florida,ESTJ,15,39,20,Sole Survivor,NaN,Ometepe,NaN,NaN,Murlonio,7,9
22,Survivor: South Pacific,23,Sophie Clarke,353,Sophie,22,Willsboro,New York,INTJ,16,39,20,Sole Survivor,NaN,Upolu,NaN,NaN,Te Tuna,5,6
23,Survivor: One World,24,Kim Spradlin,371,Kim,29,San Antonio,Texas,INFJ,15,39,18,Sole Survivor,NaN,Salani,Salani,NaN,Tikiano,3,6
24,Survivor: Philippines,25,Denise Stapley,386,Denise,41,Cedar Rapids,Iowa,INFJ,15,39,18,Sole Survivor,NaN,Matsing,Kalabaw,NaN,Dangrayne,6,1
25,Survivor: Caramoan,26,John Cochran,348,Cochran,25,Washington,D.C.,INTP,15,39,20,Sole Survivor,NaN,Bikal,Bikal,NaN,Enil Edam,0,7
26,Survivor: Blood vs. Water,27,Tyson Apostol,274,Tyson,34,Provo,Utah,ESTP,15,39,23,Sole Survivor,NaN,Galang,Tadhana,NaN,Kasama,2,8
27,Survivor: Cagayan,28,Tony Vlachos,424,Tony,39,Jersey City,New Jersey,ESTP,14,39,18,Sole Survivor,NaN,Aparri,Solana,NaN,Solarrion,5,6
28,Survivor: San Juan del Sur,29,Natalie Anderson,442,Natalie,28,Edgewater,New Jersey,ESTP,15,39,18,Sole Survivor,NaN,Hunahpu,Hunahpu,NaN,Huyopa,0,6
29,Survivor: Worlds Apart,30,Mike Holloway,460,Mike,38,North Richland Hills,Texas,ESTP,15,39,18,Sole Survivor,NaN,Escameca,Escameca,NaN,Merica,4,7
30,Survivor: Cambodia,31,Jeremy Collins,433,Jeremy,37,Foxboro,Massachusetts,ESTJ,15,39,20,Sole Survivor,NaN,Bayon,Bayon,Bayon,Orkun,3,7
31,Survivor: Kaoh Rong,32,Michele Fitzgerald,478,Michele,24,Freehold,New Jersey,ESFP,15,39,18,Sole Survivor,NaN,Gondol,Chan Loh,NaN,Dara,1,7
32,Survivor: Millennials vs. Gen X,33,Adam Klein,498,Adam,25,San Francisco,California,ENTP,14,39,20,Sole Survivor,NaN,Vanua,Takali,NaN,Vinaka,6,6
33,Survivor: Game Changers,34,Sarah Lacina,414,Sarah,32,Marion,Iowa,ENTJ,14,39,20,Sole Survivor,NaN,Nuku,Tavua,NaN,Maku Maku,0,4
34,Survivor: Heroes vs. Healers vs. Hustlers,35,Ben Driebergen,516,Ben,34,Boise,Idaho,ESFP,14,39,18,Sole Survivor,NaN,Levu,Yawa,NaN,Solewa,11,4
35,Survivor: Ghost Island,36,Wendell Holland,536,Wendell,33,Philadelphia,Pennsylvania,INFJ,14,39,20,Sole Survivor,NaN,Naviti,Naviti,Yanuya,Lavita,5,8
36,Survivor: David vs. Goliath,37,Nick Wilson,556,Nick,27,Williamsburg,Kentucky,ENTP,14,39,20,Sole Survivor,NaN,David,Jabeni,NaN,Kalokalo,0,4
37,Survivor: Edge of Extinction,38,Chris Underwood,559,Chris,25,Greenville,South Carolina,ENTP,14,39,20,Sole Survivor,NaN,Manu,NaN,NaN,Vata,9,1
38,Survivor: Island of the Idols,39,Tommy Sheehan,590,Tommy,26,Long Beach,New York,ENFJ,14,39,20,Sole Survivor,NaN,Vokai,Vokai,NaN,Lumuwaku,2,6
39,Survivor: Winners at War,40,Tony Vlachos,424,Tony,45,Allendale,New Jersey,ESTP,15,39,22,Sole Survivor,NaN,Dakal,Dakal,NaN,Koru,0,9
40,Survivor: 41,41,Erika Casupanan,594,Erika,32,Toronta,Ontario,ENFP,13,26,18,Sole Survivor,NaN,Luvu,NaN,NaN,Via Kana,2,8

**Q5:** Have any contestants won more than one time?  If so, select their records from the `sole_survivor` DataFrame, sorting the rows by season.  Save this as `Q5`.  If no contestant has won twice, save `Q5` as the string `None`.

In [9]:
sole_survivor_grouped = sole_survivor.groupby("full_name")
sole_survivor_grouped.count()[["season"]]

                    season
full_name
Adam Klein               1
Amber Brkich             1
Aras Baskauskas          1
Ben Driebergen           1
Brian Heidik             1
Chris Daugherty          1
Chris Underwood          1
Danni Boatwright         1
Denise Stapley           1
Earl Cole                1
Erika Casupanan          1
Ethan Zohn               1
James Thomas Jr.         1
Jenna Morasca            1
Jeremy Collins           1
John Cochran             1
Jud Birza                1
Kim Spradlin             1
Michele Fitzgerald       1
Mike Holloway            1
Natalie Anderson         1
Natalie White            1
Nick Wilson              1
Parvati Shallow          1
Richard Hatch            1
Rob Mariano              1
Robert Crowley           1
Sandra Diaz-Twine        2
Sarah Lacina             1
Sophie Clarke            1
Tina Wesson              1
Todd Herzog              1
Tom Westman              1
Tommy Sheehan            1
Tony Vlachos             2
Tyson Apostol            1
Vecepia Towery           1
Wendell Holland          1
Yul Kwon                 1

In [10]:
Q5 = sole_survivor[(sole_survivor["full_name"] == "Sandra Diaz-Twine") | (sole_survivor["full_name"] == "Tony Vlachos")]
Q5

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
6,Survivor: Pearl Islands,7,Sandra Diaz-Twine,112,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3
19,Survivor: Heroes vs. Villains,20,Sandra Diaz-Twine,112,Sandra,35,Fayetteville,North Carolina,ESTP,15,39,20,Sole Survivor,NaN,Villains,NaN,NaN,Yin Yang,3,4
27,Survivor: Cagayan,28,Tony Vlachos,424,Tony,39,Jersey City,New Jersey,ESTP,14,39,18,Sole Survivor,NaN,Aparri,Solana,NaN,Solarrion,5,6
39,Survivor: Winners at War,40,Tony Vlachos,424,Tony,45,Allendale,New Jersey,ESTP,15,39,22,Sole Survivor,NaN,Dakal,Dakal,NaN,Koru,0,9

**Q6:** What is the average age of contestants when they appeared on the show?  Save this as `Q6`.  Round to nearest integer.

In [11]:
Q6 = int(castaways["age"].mean())
Q6

33

**Q7:** Who played the most total number of days of Survivor? If a contestant appeared on more than one season, you would add their total days for each season together. Save the top five contestants in terms of total days played as a DataFrame and call it `Q7`, sorted in descending order by total days played.  

The following columns should be included: `castaway_id`, `full_name`, and `total_days_played` where `total_days_played` is the sum of all days a contestant played. The index should go from 0 to n-1.

Note:  Be careful because on some seasons, the contestant was allowed to come back into the game after being voted off.  Take a look at [Season 23's contestant Oscar Lusth](https://en.wikipedia.org/wiki/Ozzy_Lusth#South_Pacific) in the `castaways` DataFrame as an example.  He was voted out 7th and then returned to the game.  He was then voted out 9th and returned to the game a second time.  He was then voted out 17th the final time.  Be aware of this in your calculations and make sure you are counting the days according to the last time they were voted off or won.

In [12]:
names_list = castaways['full_name'].tolist()
days_list = []

def days(x):
    
    castaways_2 = castaways[castaways["full_name"] == str(x)]
    castaways_2 = castaways_2.drop_duplicates(["season","full_name"])
    castaways_2 = castaways_2["day"].sum()
    days_list.append(castaways_2)
    

for item in names_list:
    days(item)

In [13]:
days_dataframe = pd.DataFrame({"full_name" : names_list, "total_days_played" : days_list}).drop_duplicates(["full_name","total_days_played"]).sort_values(by = ["total_days_played"], ascending = False).head(5)
days_dataframe

             full_name  total_days_played
34         Rob Mariano                131
33     Parvati Shallow                130
149        Oscar Lusth                128
143       Cirie Fields                121
32   Sandra Diaz-Twine                110

In [14]:
names_list_2 = days_dataframe.loc[:,"full_name"]
names_list_2

castaways_df = castaways[castaways.full_name.isin(names_list_2)].drop_duplicates(subset = ["full_name"])
castaways_df

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
32,Survivor: Winners at War,40,Sandra Diaz-Twine,112,Sandra,44,Riverview,Florida,ESTP,6,16,8,8th voted out,NaN,Dakal,Dakal,NaN,NaN,1,4
33,Survivor: Winners at War,40,Parvati Shallow,197,Parvati,36,Los Angeles,California,ENFJ,6,16,7,7th voted out,5th jury member,Sele,Sele,NaN,NaN,5,3
34,Survivor: Winners at War,40,Rob Mariano,55,Boston Rob,43,Pensacola,Florida,ESTJ,5,14,6,6th voted out,4th jury member,Sele,Yara,NaN,NaN,4,2
143,Survivor: Game Changers,34,Cirie Fields,179,Cirie,45,Norwalk,Connecticut,ENFJ,12,36,15,Eliminated,8th jury member,Nuku,Tavua,NaN,Maku Maku,0,4
149,Survivor: Game Changers,34,Oscar Lusth,201,Ozzy,34,Venice,California,ISFP,7,24,9,9th voted out,2nd jury member,Nuku,Tavua,NaN,Maku Maku,6,4

In [15]:
Q7 = pd.DataFrame({"castaway_id": castaways_df.loc[:,"castaway_id"],
                   "full_name": castaways_df.loc[:,"full_name"],
                   "total_days_played": days_dataframe.loc[:,"total_days_played"]}).sort_values(by = ["total_days_played"], ascending = False).reset_index(drop = True)
Q7

   castaway_id          full_name  total_days_played
0           55        Rob Mariano                131
1          197    Parvati Shallow                130
2          201        Oscar Lusth                128
3          179       Cirie Fields                121
4          112  Sandra Diaz-Twine                110

**Q8A & Q8B**: Using the `castaway_details` data, what is the percentage of total extroverts and introverts that have played the game (count players only once even if they have played in more than one season).  Do not count contestants without a personality type listed in your calculations.  Save these percentages as `Q8A` and `Q8B` respectively.  Note: Round all percentages to two decimal points and write as a float (example: 55.57).  

For more information on personality types check this [Wikipedia article](https://en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator).

In [16]:
castaway_details_2 = castaway_details.copy()

In [17]:
castaway_details_3 = castaway_details_2.dropna(subset =["personality_type"])

In [18]:
castaway_details_3["personality_check"] = castaway_details_2["personality_type"].str.startswith("E")
castaway_details_3

/var/folders/86/hhnttg511rx7rjhk86mrn9700000gn/T/ipykernel_33662/3479136914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  castaway_details_3["personality_check"] = castaway_details_2["personality_type"].str.startswith("E")

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type,personality_check
0,1,Sonja Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP,True
1,2,B.B. Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ,True
2,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ,True
3,4,Ramona Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ,False
4,5,Dirk Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,ISFP,False
...,...,...,...,...,...,...,...,...,...,...,...
603,604,Tiffany Seely,Tiffany,1973-12-08,NaT,Female,White,Jewish,Teacher,ENTP,True
604,605,Sydney Segal,Sydney,1995-07-19,NaT,Female,White,Jewish,Law Student,ESTP,True
605,606,Shantel Smith,Shan,1987-03-11,NaT,Female,Black,NaN,Pastor,ENFJ,True
606,607,David Voce,Voce,1986-05-01,NaT,Male,NaN,NaN,Neurosurgeon,ENTJ,True
607,608,Liana Wallace,Liana,2000-10-25,NaT,Female,Black,Jewish,College Student,ESTJ,True

In [19]:
castaway_details_3["personality_check"].value_counts()

True     325
False    281
Name: personality_check, dtype: int64

In [20]:
Q8A = round((len(castaway_details_3[castaway_details_3["personality_check"] == True])/len(castaway_details_3)*100),2)
Q8A

53.63

In [21]:
Q8B = round((len(castaway_details_3[castaway_details_3["personality_check"] == False])/len(castaway_details_3)*100),2)
Q8B

46.37

**Q9A & Q9B**: Now that we know the percentages of total players that are extroverted and introverted, let's see if that made a difference in terms of who actually won their season.

What is the percentage of total extroverts and introverts that have won the game (count players only once even if they have won more than one season)?  Save these percentages as `Q9A` and `Q9B` respectively.  Note: Round all percentages to two decimal points and write as a float (example: 55.57).

In [22]:
sole_survivor.head()

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: Borneo,1,Richard Hatch,16,Richard,39,Newport,Rhode Island,ENTP,14,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,4
1,Survivor: The Australian Outback,2,Tina Wesson,32,Tina,40,Knoxville,Tennessee,ESFJ,16,42,16,Sole Survivor,NaN,Ogakor,NaN,NaN,Barramundi,0,2
2,Survivor: Africa,3,Ethan Zohn,48,Ethan,27,Lexington,Massachusetts,ISFP,15,39,16,Sole Survivor,NaN,Boran,Boran,NaN,Moto Maji,0,4
3,Survivor: Marquesas,4,Vecepia Towery,64,Vecepia,36,Hayward,California,ISTJ,15,39,16,Sole Survivor,NaN,Maraamu,Rotu,NaN,Soliantu,2,4
4,Survivor: Thailand,5,Brian Heidik,80,Brian,34,Quartz Hill,California,ISTP,15,39,16,Sole Survivor,NaN,Chuay Gahn,NaN,NaN,Chuay Jai,0,8

In [23]:
sole_survivor_2 = sole_survivor.copy()

In [24]:
sole_survivor_2 = sole_survivor_2.drop_duplicates(subset =["full_name"])

In [25]:
sole_survivor_2["personality_check"] = sole_survivor_2["personality_type"].str.startswith("E")
sole_survivor_2

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won,personality_check
0,Survivor: Borneo,1,Richard Hatch,16,Richard,39,Newport,Rhode Island,ENTP,14,39,16,Sole Survivor,NaN,Tagi,NaN,NaN,Rattana,6,4,True
1,Survivor: The Australian Outback,2,Tina Wesson,32,Tina,40,Knoxville,Tennessee,ESFJ,16,42,16,Sole Survivor,NaN,Ogakor,NaN,NaN,Barramundi,0,2,True
2,Survivor: Africa,3,Ethan Zohn,48,Ethan,27,Lexington,Massachusetts,ISFP,15,39,16,Sole Survivor,NaN,Boran,Boran,NaN,Moto Maji,0,4,False
3,Survivor: Marquesas,4,Vecepia Towery,64,Vecepia,36,Hayward,California,ISTJ,15,39,16,Sole Survivor,NaN,Maraamu,Rotu,NaN,Soliantu,2,4,False
4,Survivor: Thailand,5,Brian Heidik,80,Brian,34,Quartz Hill,California,ISTP,15,39,16,Sole Survivor,NaN,Chuay Gahn,NaN,NaN,Chuay Jai,0,8,False
5,Survivor: The Amazon,6,Jenna Morasca,96,Jenna,21,Bridgeville,Pennsylvania,ISTP,15,39,16,Sole Survivor,NaN,Jaburu,Jaburu,NaN,JacarÃ©,3,7,False
6,Survivor: Pearl Islands,7,Sandra Diaz-Twine,112,Sandra,29,Fort Lewis,Washington,ESTP,15,39,18,Sole Survivor,NaN,Drake,Drake,NaN,Balboa,0,3,True
7,Survivor: All-Stars,8,Amber Brkich,27,Amber,25,Beaver,Pennsylvania,ISFP,17,39,18,Sole Survivor,NaN,Chapera,Chapera,Chapera,Chaboga Mogo,6,6,False
8,Survivor: Vanuatu,9,Chris Daugherty,130,Chris,33,South Vienna,Ohio,ENTP,15,39,18,Sole Survivor,NaN,Lopevi,Lopevi,NaN,Alinta,3,6,True
9,Survivor: Palau,10,Tom Westman,150,Tom,40,Sayville,New York,ESTJ,15,39,20,Sole Survivor,NaN,Koror,NaN,NaN,Koror,0,12,True
10,Survivor: Guatemala,11,Danni Boatwright,166,Danni,29,Tonganoxie,Kansas,ENFJ,15,39,18,Sole Survivor,NaN,NakÃºm,YaxhÃ¡,NaN,XhakÃºm,1,5,True
11,Survivor: Panama,12,Aras Baskauskas,182,Aras,24,Santa Monica,California,INFP,16,39,16,Sole Survivor,NaN,Viveros,Casaya,NaN,Gitanos,9,4,False
12,Survivor: Cook Islands,13,Yul Kwon,202,Yul,31,San Mateo,California,INTJ,16,39,20,Sole Survivor,NaN,Puka Puka,Aitutaki,Aitutaki,Aitutonga,5,6,False
13,Survivor: Fiji,14,Earl Cole,221,Earl,35,Santa Monica,California,INFJ,15,39,19,Sole Survivor,NaN,Ravu,Moto,NaN,Bula Bula,1,5,False
14,Survivor: China,15,Todd Herzog,237,Todd,22,Pleasant Grove,Utah,ENFP,15,39,16,Sole Survivor,NaN,Fei Long,Fei Long,NaN,Hae Da Fung,5,4,True
15,Survivor: Micronesia,16,Parvati Shallow,197,Parvati,25,Los Angeles,California,ENFJ,15,39,20,Sole Survivor,NaN,Malakal,Airai,NaN,Dabu,4,7,True
16,Survivor: Gabon,17,Robert Crowley,265,Bob,57,South Portland,Maine,INTP,14,39,18,Sole Survivor,NaN,Kota,Kota,Kota,Nobag,2,8,False
17,Survivor: Tocantins,18,James Thomas Jr.,281,J.T.,24,Mobile,Alabama,ESTP,15,39,16,Sole Survivor,NaN,Jalapao,NaN,NaN,Forza,0,5,True
18,Survivor: Samoa,19,Natalie White,301,Natalie,26,Van Buren,Arkansas,ISFJ,16,39,20,Sole Survivor,NaN,Foa Foa,NaN,NaN,Aiga,8,1,False
20,Survivor: Nicaragua,21,Jud Birza,321,Fabio,21,Venice,California,ESFP,16,39,20,Sole Survivor,NaN,La Flor,La Flor,NaN,Libertad,2,8,True
21,Survivor: Redemption Island,22,Rob Mariano,55,Boston Rob,34,Pensacola,Florida,ESTJ,15,39,20,Sole Survivor,NaN,Ometepe,NaN,NaN,Murlonio,7,9,True
22,Survivor: South Pacific,23,Sophie Clarke,353,Sophie,22,Willsboro,New York,INTJ,16,39,20,Sole Survivor,NaN,Upolu,NaN,NaN,Te Tuna,5,6,False
23,Survivor: One World,24,Kim Spradlin,371,Kim,29,San Antonio,Texas,INFJ,15,39,18,Sole Survivor,NaN,Salani,Salani,NaN,Tikiano,3,6,False
24,Survivor: Philippines,25,Denise Stapley,386,Denise,41,Cedar Rapids,Iowa,INFJ,15,39,18,Sole Survivor,NaN,Matsing,Kalabaw,NaN,Dangrayne,6,1,False
25,Survivor: Caramoan,26,John Cochran,348,Cochran,25,Washington,D.C.,INTP,15,39,20,Sole Survivor,NaN,Bikal,Bikal,NaN,Enil Edam,0,7,False
26,Survivor: Blood vs. Water,27,Tyson Apostol,274,Tyson,34,Provo,Utah,ESTP,15,39,23,Sole Survivor,NaN,Galang,Tadhana,NaN,Kasama,2,8,True
27,Survivor: Cagayan,28,Tony Vlachos,424,Tony,39,Jersey City,New Jersey,ESTP,14,39,18,Sole Survivor,NaN,Aparri,Solana,NaN,Solarrion,5,6,True
28,Survivor: San Juan del Sur,29,Natalie Anderson,442,Natalie,28,Edgewater,New Jersey,ESTP,15,39,18,Sole Survivor,NaN,Hunahpu,Hunahpu,NaN,Huyopa,0,6,True
29,Survivor: Worlds Apart,30,Mike Holloway,460,Mike,38,North Richland Hills,Texas,ESTP,15,39,18,Sole Survivor,NaN,Escameca,Escameca,NaN,Merica,4,7,True
30,Survivor: Cambodia,31,Jeremy Collins,433,Jeremy,37,Foxboro,Massachusetts,ESTJ,15,39,20,Sole Survivor,NaN,Bayon,Bayon,Bayon,Orkun,3,7,True
31,Survivor: Kaoh Rong,32,Michele Fitzgerald,478,Michele,24,Freehold,New Jersey,ESFP,15,39,18,Sole Survivor,NaN,Gondol,Chan Loh,NaN,Dara,1,7,True
32,Survivor: Millennials vs. Gen X,33,Adam Klein,498,Adam,25,San Francisco,California,ENTP,14,39,20,Sole Survivor,NaN,Vanua,Takali,NaN,Vinaka,6,6,True
33,Survivor: Game Changers,34,Sarah Lacina,414,Sarah,32,Marion,Iowa,ENTJ,14,39,20,Sole Survivor,NaN,Nuku,Tavua,NaN,Maku Maku,0,4,True
34,Survivor: Heroes vs. Healers vs. Hustlers,35,Ben Driebergen,516,Ben,34,Boise,Idaho,ESFP,14,39,18,Sole Survivor,NaN,Levu,Yawa,NaN,Solewa,11,4,True
35,Survivor: Ghost Island,36,Wendell Holland,536,Wendell,33,Philadelphia,Pennsylvania,INFJ,14,39,20,Sole Survivor,NaN,Naviti,Naviti,Yanuya,Lavita,5,8,False
36,Survivor: David vs. Goliath,37,Nick Wilson,556,Nick,27,Williamsburg,Kentucky,ENTP,14,39,20,Sole Survivor,NaN,David,Jabeni,NaN,Kalokalo,0,4,True
37,Survivor: Edge of Extinction,38,Chris Underwood,559,Chris,25,Greenville,South Carolina,ENTP,14,39,20,Sole Survivor,NaN,Manu,NaN,NaN,Vata,9,1,True
38,Survivor: Island of the Idols,39,Tommy Sheehan,590,Tommy,26,Long Beach,New York,ENFJ,14,39,20,Sole Survivor,NaN,Vokai,Vokai,NaN,Lumuwaku,2,6,True
40,Survivor: 41,41,Erika Casupanan,594,Erika,32,Toronta,Ontario,ENFP,13,26,18,Sole Survivor,NaN,Luvu,NaN,NaN,Via Kana,2,8,True

In [26]:
Q9A = round((len(sole_survivor_2[sole_survivor_2["personality_check"] == True])/len(sole_survivor_2)*100),2)
Q9A

61.54

In [27]:
Q9B = round((len(sole_survivor_2[sole_survivor_2["personality_check"] == False])/len(sole_survivor_2)*100),2)
Q9B

38.46

**Q10:** Which contestants have never received a tribal council vote (i.e. a vote to be voted out of the game as shown in the `vote_id` column in the `vote_history` DataFrame)? Note that there are various reasons for a contestant to not receive a tribal vote: they quit, made it to the end, medical emergency, etc.  Select their rows from the `castaway_details` DataFrame and save this as `Q10` in ascending order by `castaway_id`.  This should return a DataFrame and the index and missing values should be left as is.

In [28]:
vote_history["vote_id"] = vote_history["vote_id"].fillna(0)
vote_history["vote_id"] = vote_history["vote_id"].astype(int)
Q10 = castaway_details[~castaway_details.castaway_id.isin(vote_history["vote_id"])].sort_values(by = ["castaway_id"])

**Q11:** What contestant has won the most number of challenges?  Select their row from the `castaway_details` DataFrame and save this as `Q11`.  This should return a DataFrame and the index and missing values should be left as is.

In [29]:
castaway_details.head()

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
0,1,Sonja Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP
1,2,B.B. Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ
2,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ
3,4,Ramona Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ
4,5,Dirk Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,ISFP

In [30]:
challenge_results.head()

,season_name,season,episode,day,episode_title,challenge_name,challenge_type,outcome_type,challenge_id,winner_id,winner,winning_tribe,outcome_status
0,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,2.0,B.B.,Pagong,Winner
1,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,4.0,Ramona,Pagong,Winner
2,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,6.0,Joel,Pagong,Winner
3,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,7.0,Gretchen,Pagong,Winner
4,Survivor: Borneo,1,1,3,The Marooning,Quest for Fire,Reward and Immunity,Tribal,CH0001,8.0,Greg,Pagong,Winner

In [31]:
challenge_grouped = challenge_results.groupby(["winner_id"])
challenge_grouped.count().sort_values(by = ["season_name"],ascending = False)

,season_name,season,episode,day,episode_title,challenge_name,challenge_type,outcome_type,challenge_id,winner,winning_tribe,outcome_status
winner_id,,,,,,,,,,,,
201.0,42,42,42,42,42,42,42,42,42,42,27,42
55.0,37,37,37,37,37,37,37,37,37,37,24,37
197.0,34,34,34,34,34,34,34,34,34,34,26,34
451.0,33,33,33,33,33,33,33,33,33,33,22,33
333.0,31,31,31,31,31,31,31,31,31,31,20,31
...,...,...,...,...,...,...,...,...,...,...,...,...
573.0,1,1,1,1,1,1,1,1,1,1,1,1
574.0,1,1,1,1,1,1,1,1,1,1,1,1
575.0,1,1,1,1,1,1,1,1,1,1,1,1
284.0,1,1,1,1,1,1,1,1,1,1,1,1
480.0,1,1,1,1,1,1,1,1,1,1,1,1

In [32]:
challenge_results[challenge_results["winner_id"] == 201.0]

,season_name,season,episode,day,episode_title,challenge_name,challenge_type,outcome_type,challenge_id,winner_id,winner,winning_tribe,outcome_status
1187,Survivor: Cook Islands,13,1,3,I Can Forgive Her But I Don't Have To Because ...,"Lock, Load and Light",Immunity,Tribal,CH0517,201.0,Ozzy,Aitutaki,Winner
1192,Survivor: Cook Islands,13,1,3,I Can Forgive Her But I Don't Have To Because ...,"Lock, Load and Light",Immunity,Tribal,CH0517,201.0,Ozzy,Roratonga,Winner
1232,Survivor: Cook Islands,13,4,11,Ruling the Roost,Rescue Mission,Immunity,Tribal,CH0021,201.0,Ozzy,Aitutaki,Winner
1240,Survivor: Cook Islands,13,4,11,Ruling the Roost,Sacrificial Lamb,Reward,Tribal,CH0406,201.0,Ozzy,Aitutaki,Winner
1248,Survivor: Cook Islands,13,5,14,Don't Cry Over Spilled Octopus,United We Stand,Immunity,Tribal,CH0520,201.0,Ozzy,Aitutaki,Winner
1264,Survivor: Cook Islands,13,6,15,Plan Voodoo,Kicking and Screaming,Reward,Tribal,CH0599,201.0,Ozzy,Aitutaki,Winner
1277,Survivor: Cook Islands,13,8,18,Why Aren't You Swimming?!,Smash and Grab,Reward,Tribal,CH0524,201.0,Ozzy,Aitutaki,Winner
1281,Survivor: Cook Islands,13,9,21,Mutiny,Depth Charge,Immunity,Tribal,CH0536,201.0,Ozzy,Aitutaki,Winner
1285,Survivor: Cook Islands,13,9,21,Mutiny,Barrel of Monkeys,Reward,Tribal,CH0531,201.0,Ozzy,Aitutaki,Winner
1289,Survivor: Cook Islands,13,10,24,People That You Like Want To See You Suffer,South Pacific,Immunity,Tribal,CH0537,201.0,Ozzy,Aitutaki,Winner
1293,Survivor: Cook Islands,13,10,24,People That You Like Want To See You Suffer,Puzzle Dig,Reward,Tribal,CH0511,201.0,Ozzy,Aitutaki,Winner
1295,Survivor: Cook Islands,13,11,27,Why Would You Trust Me?,Get a Grip,Immunity,Individual,CH0407,201.0,Ozzy,NaN,Winner
1298,Survivor: Cook Islands,13,13,33,Arranging a Hit,Troubled Water,Immunity,Individual,CH0416,201.0,Ozzy,NaN,Winner
1302,Survivor: Cook Islands,13,14,36,I Have the Advantage...For Once,Cannonball Run,Immunity,Individual,CH0539,201.0,Ozzy,NaN,Winner
1303,Survivor: Cook Islands,13,14,36,I Have the Advantage...For Once,Mud Pack,Reward,Individual,CH0097,201.0,Ozzy,NaN,Winner
1306,Survivor: Cook Islands,13,15,37,"This Tribe Will Self-Destruct in 5, 4, 3...",Out on a Limb,Immunity,Individual,CH0054,201.0,Ozzy,NaN,Winner
1307,Survivor: Cook Islands,13,15,38,"This Tribe Will Self-Destruct in 5, 4, 3...",Perch,Immunity,Individual,CH0890,201.0,Ozzy,NaN,Winner
1549,Survivor: Micronesia,16,2,6,The Sounds of Jungle Love,Smash and Grab,Reward and Immunity,Tribal,CH0524,201.0,Ozzy,Malakal,Winner
1567,Survivor: Micronesia,16,3,8,I Should Be Carried on the Chariot-Type Thing!,By Any Means Necessary,Reward,Tribal,CH0430,201.0,Ozzy,Malakal,Winner
1575,Survivor: Micronesia,16,4,11,"That's Baked, Barbecued and Fried!",Crosswalk,Immunity,Tribal,CH0586,201.0,Ozzy,Malakal,Winner
1583,Survivor: Micronesia,16,4,11,"That's Baked, Barbecued and Fried!",Dive Masters,Reward,Tribal,CH0388,201.0,Ozzy,Malakal,Winner
1626,Survivor: Micronesia,16,7,20,Like a Wide-Eyed Kid in the Candy Store,Blind Leading the Blind,Reward,Tribal,CH0631,201.0,Ozzy,Malakal,Winner
1641,Survivor: Micronesia,16,10,27,I Promise...,Box Your Mind,Reward,Team,CH0224,201.0,Ozzy,NaN,Winner
2306,Survivor: South Pacific,23,1,3,I Need Redemption,Temple Transfer,Reward,Tribal,CH0279,201.0,Ozzy,Savaii,Winner
2311,Survivor: South Pacific,23,2,5,He Has Demons,Crate Escape,Reward and Immunity,Tribal,CH0755,201.0,Ozzy,Savaii,Winner
2327,Survivor: South Pacific,23,4,11,Survivalism,Shoulder the Load,Reward and Immunity,Tribal,CH0357,201.0,Ozzy,Savaii,Winner
2342,Survivor: South Pacific,23,6,16,Free Agent,Losing Face,Reward and Immunity,Tribal,CH0765,201.0,Ozzy,Savaii,Winner
2357,Survivor: South Pacific,23,8,21,Double Agent,Jail Break,Duel,Individual,CH0730,201.0,Ozzy,NaN,Winner
2361,Survivor: South Pacific,23,10,27,Running the Show,Keep it Up,Duel,Individual,CH0699,201.0,Ozzy,NaN,Winner
2365,Survivor: South Pacific,23,12,30,Cult Like,By Any Means Necessary,Duel,Individual,CH0430,201.0,Ozzy,NaN,Winner
2367,Survivor: South Pacific,23,13,32,Ticking Time Bomb,"Snag, Drag and Bag",Duel,Individual,CH0656,201.0,Ozzy,NaN,Winner
2370,Survivor: South Pacific,23,14,35,Then There Were Five,Sea Crates,Duel,Individual,CH0679,201.0,Ozzy,NaN,Winner
2371,Survivor: South Pacific,23,15,37,Loyalties Will Be Broken,House of Cards,Immunity,Individual,CH0131,201.0,Ozzy,NaN,Winner
2373,Survivor: South Pacific,23,15,37,Loyalties Will Be Broken,Get a Grip,Duel,Individual,CH0407,201.0,Ozzy,NaN,Winner
3511,Survivor: Game Changers,34,1,6,The Stakes Have Been Raised,Cell Block Sea,Reward and Immunity,Tribal,CH0836,201.0,Ozzy,Nuku,Winner
3521,Survivor: Game Changers,34,1,3,The Stakes Have Been Raised,Blue Lagoon Bustle,Reward and Immunity,Tribal,CH0839,201.0,Ozzy,Nuku,Winner
3531,Survivor: Game Changers,34,1,3,The Stakes Have Been Raised,Race to Shore,Reward,Tribal,CC0472,201.0,Ozzy,Nuku,Winner
3548,Survivor: Game Changers,34,2,9,Survivor Jackpot,The Obstacle Course,Reward and Immunity,Tribal,CH0039,201.0,Ozzy,Tavua,Winner
3552,Survivor: Game Changers,34,3,11,The Tables Have Turned,Blind Leading the Blind,Immunity,Tribal,CH0631,201.0,Ozzy,Tavua,Winner
3574,Survivor: Game Changers,34,4,13,Dirty Deed,Losing Face,Reward and Immunity,Tribal,CH0765,201.0,Ozzy,Tavua,Winner
3598,Survivor: Game Changers,34,6,18,"What Happened on Exile, Stays on Exile",Dulcimer Drop,Reward,Tribal,CH0966,201.0,Ozzy,Nuku,Winner
3606,Survivor: Game Changers,34,7,24,There's a New Sheriff in Town,New School,Reward,Team,CH0967,201.0,Ozzy,NaN,Winner

In [33]:
castaway_details_index = castaway_details[castaway_details["short_name"] == "Ozzy"]
castaway_details_index

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
200,201,Oscar Lusth,Ozzy,1981-08-23,NaT,Male,Mexican American,Hispanic or Latino,Waiter;Photographer,ISFP

In [34]:
Q11 = castaway_details_index.iloc[[0]]
Q11

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
200,201,Oscar Lusth,Ozzy,1981-08-23,NaT,Male,Mexican American,Hispanic or Latino,Waiter;Photographer,ISFP

**Q12:** Let's see how many winners ended up getting unanimous jury votes to win the game.  Create a Dataframe that shows the survivors that got unanimous jury votes with these columns in the final output: `season`, `season_name`, `winner_id`, `full_name`.  The DataFrame should be sorted by season and the index should go from 0 to n-1.  Save this as `Q12`.

In [35]:
jury_votes.head()

    season_name  season castaway finalist  vote  castaway_id  finalist_id
0  Survivor: 41      41  Heather  Deshawn     0          593          601
1  Survivor: 41      41   Ricard  Deshawn     0          596          601
2  Survivor: 41      41    Danny  Deshawn     1          599          601
3  Survivor: 41      41    Liana  Deshawn     0          608          601
4  Survivor: 41      41     Shan  Deshawn     0          606          601

In [36]:
jury_votes_grouped = jury_votes.groupby(["finalist","vote"])
jury_votes_2 = jury_votes_grouped.count().sort_values(by = ["vote","season_name"],ascending = False)
jury_votes_2
#smallest survivor jury is 7 so anyone with fewer 1s cannot be unanimous#
my_list = ["Tony","Natalie","Chris","Sandra","Boston Rob","Adam",'Jeremy','Earl','Mike',
           'Cochran','Parvati','Tommy','Erika','J.T.','Kim','Nick','Sarah','Tyson']
my_list

['Tony',
 'Natalie',
 'Chris',
 'Sandra',
 'Boston Rob',
 'Adam',
 'Jeremy',
 'Earl',
 'Mike',
 'Cochran',
 'Parvati',
 'Tommy',
 'Erika',
 'J.T.',
 'Kim',
 'Nick',
 'Sarah',
 'Tyson']

In [37]:
jury_votes_3 = jury_votes_2.loc[my_list]
jury_votes_3
# #look for finalists where no vote 0 [Adam, Jeremy, Earl, Cochran, J.T.]
unanimous_list = ["Adam", "Jeremy", "Earl", "Cochran", "J.T."]
unanimous_list

['Adam', 'Jeremy', 'Earl', 'Cochran', 'J.T.']

In [38]:
jury_votes_merge = castaway_details.merge(jury_votes, left_on = "castaway_id", right_on = "finalist_id")
jury_votes_merge.head(5)

,castaway_id_x,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type,season_name,season,castaway,finalist,vote,castaway_id_y,finalist_id
0,10,Gervase Peterson,Gervase,1969-11-02,NaT,Male,Black,NaN,YMCA Basketball Coach;Cigar Lounge Owner,ESTP,Survivor: Blood vs. Water,27,Aras,Gervase,0,182,10
1,10,Gervase Peterson,Gervase,1969-11-02,NaT,Male,Black,NaN,YMCA Basketball Coach;Cigar Lounge Owner,ESTP,Survivor: Blood vs. Water,27,Caleb,Gervase,0,403,10
2,10,Gervase Peterson,Gervase,1969-11-02,NaT,Male,Black,NaN,YMCA Basketball Coach;Cigar Lounge Owner,ESTP,Survivor: Blood vs. Water,27,Ciera,Gervase,0,406,10
3,10,Gervase Peterson,Gervase,1969-11-02,NaT,Male,Black,NaN,YMCA Basketball Coach;Cigar Lounge Owner,ESTP,Survivor: Blood vs. Water,27,Hayden,Gervase,0,405,10
4,10,Gervase Peterson,Gervase,1969-11-02,NaT,Male,Black,NaN,YMCA Basketball Coach;Cigar Lounge Owner,ESTP,Survivor: Blood vs. Water,27,Katie,Gervase,0,404,10

In [39]:
jury_votes_merge_2 = jury_votes_merge[(jury_votes_merge["short_name"] == "Adam") | (jury_votes_merge["short_name"] == "Jeremy") | (jury_votes_merge["short_name"] == "Earl") | (jury_votes_merge["short_name"] == "Cochran") | (jury_votes_merge["short_name"] == "J.T.")]
jury_votes_merge_2

,castaway_id_x,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type,season_name,season,castaway,finalist,vote,castaway_id_y,finalist_id
264,221,Earl Cole,Earl,1971-04-09,NaT,Male,Black,NaN,Ad Executive,INFJ,Survivor: Fiji,14,Alex,Earl,1,215,221
265,221,Earl Cole,Earl,1971-04-09,NaT,Male,Black,NaN,Ad Executive,INFJ,Survivor: Fiji,14,Boo,Earl,1,217,221
266,221,Earl Cole,Earl,1971-04-09,NaT,Male,Black,NaN,Ad Executive,INFJ,Survivor: Fiji,14,Edgardo,Earl,1,213,221
267,221,Earl Cole,Earl,1971-04-09,NaT,Male,Black,NaN,Ad Executive,INFJ,Survivor: Fiji,14,Lisi,Earl,1,211,221
268,221,Earl Cole,Earl,1971-04-09,NaT,Male,Black,NaN,Ad Executive,INFJ,Survivor: Fiji,14,Michelle,Earl,1,212,221
269,221,Earl Cole,Earl,1971-04-09,NaT,Male,Black,NaN,Ad Executive,INFJ,Survivor: Fiji,14,Mookie,Earl,1,214,221
270,221,Earl Cole,Earl,1971-04-09,NaT,Male,Black,NaN,Ad Executive,INFJ,Survivor: Fiji,14,Rocky,Earl,1,210,221
271,221,Earl Cole,Earl,1971-04-09,NaT,Male,Black,NaN,Ad Executive,INFJ,Survivor: Fiji,14,Stacy,Earl,1,216,221
272,221,Earl Cole,Earl,1971-04-09,NaT,Male,Black,NaN,Ad Executive,INFJ,Survivor: Fiji,14,Yau-Man,Earl,1,218,221
347,281,James Thomas Jr.,J.T.,1984-06-23,NaT,Male,NaN,NaN,Cattle Rancher,ESTP,Survivor: Tocantins,18,Brendan,J.T.,1,273,281
348,281,James Thomas Jr.,J.T.,1984-06-23,NaT,Male,NaN,NaN,Cattle Rancher,ESTP,Survivor: Tocantins,18,Coach,J.T.,1,277,281
349,281,James Thomas Jr.,J.T.,1984-06-23,NaT,Male,NaN,NaN,Cattle Rancher,ESTP,Survivor: Tocantins,18,Debbie,J.T.,1,276,281
350,281,James Thomas Jr.,J.T.,1984-06-23,NaT,Male,NaN,NaN,Cattle Rancher,ESTP,Survivor: Tocantins,18,Erinn,J.T.,1,279,281
351,281,James Thomas Jr.,J.T.,1984-06-23,NaT,Male,NaN,NaN,Cattle Rancher,ESTP,Survivor: Tocantins,18,Sierra,J.T.,1,275,281
352,281,James Thomas Jr.,J.T.,1984-06-23,NaT,Male,NaN,NaN,Cattle Rancher,ESTP,Survivor: Tocantins,18,Taj,J.T.,1,278,281
353,281,James Thomas Jr.,J.T.,1984-06-23,NaT,Male,NaN,NaN,Cattle Rancher,ESTP,Survivor: Tocantins,18,Tyson,J.T.,1,274,281
443,348,John Cochran,Cochran,1987-01-17,NaT,Male,White,Jewish,Harvard Law Student,INTP,Survivor: Caramoan,26,Andrea,Cochran,1,333,348
444,348,John Cochran,Cochran,1987-01-17,NaT,Male,White,Jewish,Harvard Law Student,INTP,Survivor: Caramoan,26,Brenda,Cochran,1,312,348
445,348,John Cochran,Cochran,1987-01-17,NaT,Male,White,Jewish,Harvard Law Student,INTP,Survivor: Caramoan,26,Eddie,Cochran,1,395,348
446,348,John Cochran,Cochran,1987-01-17,NaT,Male,White,Jewish,Harvard Law Student,INTP,Survivor: Caramoan,26,Erik,Cochran,1,246,348
447,348,John Cochran,Cochran,1987-01-17,NaT,Male,White,Jewish,Harvard Law Student,INTP,Survivor: Caramoan,26,Malcolm,Cochran,1,384,348
448,348,John Cochran,Cochran,1987-01-17,NaT,Male,White,Jewish,Harvard Law Student,INTP,Survivor: Caramoan,26,Michael,Cochran,1,393,348
449,348,John Cochran,Cochran,1987-01-17,NaT,Male,White,Jewish,Harvard Law Student,INTP,Survivor: Caramoan,26,Phillip,Cochran,1,337,348
450,348,John Cochran,Cochran,1987-01-17,NaT,Male,White,Jewish,Harvard Law Student,INTP,Survivor: Caramoan,26,Reynold,Cochran,1,394,348
612,433,Jeremy Collins,Jeremy,1978-04-16,NaT,Male,Black,NaN,Cambridge Firefighter,ESTJ,Survivor: Cambodia,31,Abi-Maria,Jeremy,1,383,433
613,433,Jeremy Collins,Jeremy,1978-04-16,NaT,Male,Black,NaN,Cambridge Firefighter,ESTJ,Survivor: Cambodia,31,Andrew,Jeremy,1,105,433
614,433,Jeremy Collins,Jeremy,1978-04-16,NaT,Male,Black,NaN,Cambridge Firefighter,ESTJ,Survivor: Cambodia,31,Ciera,Jeremy,1,406,433
615,433,Jeremy Collins,Jeremy,1978-04-16,NaT,Male,Black,NaN,Cambridge Firefighter,ESTJ,Survivor: Cambodia,31,Joe,Jeremy,1,451,433
616,433,Jeremy Collins,Jeremy,1978-04-16,NaT,Male,Black,NaN,Cambridge Firefighter,ESTJ,Survivor: Cambodia,31,Kass,Jeremy,1,422,433
617,433,Jeremy Collins,Jeremy,1978-04-16,NaT,Male,Black,NaN,Cambridge Firefighter,ESTJ,Survivor: Cambodia,31,Keith,Jeremy,1,439,433
618,433,Jeremy Collins,Jeremy,1978-04-16,NaT,Male,Black,NaN,Cambridge Firefighter,ESTJ,Survivor: Cambodia,31,Kelley,Jeremy,1,429,433
619,433,Jeremy Collins,Jeremy,1978-04-16,NaT,Male,Black,NaN,Cambridge Firefighter,ESTJ,Survivor: Cambodia,31,Kelly,Jeremy,1,15,433
620,433,Jeremy Collins,Jeremy,1978-04-16,NaT,Male,Black,NaN,Cambridge Firefighter,ESTJ,Survivor: Cambodia,31,Kimmi,Jeremy,1,21,433
621,433,Jeremy Collins,Jeremy,1978-04-16,NaT,Male,Black,NaN,Cambridge Firefighter,ESTJ,Survivor: Cambodia,31,Stephen,Jeremy,1,280,433
743,498,Adam Klein,Adam,1991-01-15,NaT,Male,White,Jewish,Homeless Shelter Manager;Keynote Speaker and Host,ENTP,Survivor: Millennials vs. Gen X,33,Bret,Adam,1,494,498
744,498,Adam Klein,Adam,1991-01-15,NaT,Male,White,Jewish,Homeless Shelter Manager;Keynote Speaker and Host,ENTP,Survivor: Millennials vs. Gen X,33,Chris,Adam,1,488,498
745,498,Adam Klein,Adam,1991-01-15,NaT,Male,White,Jewish,Homeless Shelter Manager;Keynote Speaker and Host,ENTP,Survivor: Millennials vs. Gen X,33,David,Adam,1,495,498
746,498,Adam Klein,Adam,1991-01-15,NaT,Male,White,Jewish,Homeless Shelter Manager;Keynote Speaker and Host,ENTP,Survivor: Millennials vs. Gen X,33,Jay,Adam,1,493,498
747,498,Adam Klein,Adam,1991-01-15,NaT,Male,White,Jewish,Homeless Shelter Manager;Keynote Speaker and Host,ENTP,Survivor: Millennials vs. Gen X,33,Jessica,Adam,1,489,498
748,498,Adam Klein,Adam,1991-01-15,NaT,Male,White,Jewish,Homeless Shelter Manager;Keynote Speaker and Host,ENTP,Survivor: Millennials vs. Gen X,33,Michelle,Adam,1,486,498
749,498,Adam Klein,Adam,1991-01-15,NaT,Male,White,Jewish,Homeless Shelter Manager;Keynote Speaker and Host,ENTP,Survivor: Millennials vs. Gen X,33,Sunday,Adam,1,492,498
750,498,Adam Klein,Adam,1991-01-15,NaT,Male,White,Jewish,Homeless Shelter Manager;Keynote Speaker and Host,ENTP,Survivor: Millennials vs. Gen X,33,Taylor,Adam,1,487,498
751,498,Adam Klein,Adam,1991-01-15,NaT,Male,White,Jewish,Homeless Shelter Manager;Keynote Speaker and Host,ENTP,Survivor: Millennials vs. Gen X,33,Will,Adam,1,491,498
752,498,Adam Klein,Adam,1991-01-15,NaT,Male,White,Jewish,Homeless Shelter Manager;Keynote Speaker and Host,ENTP,Survivor: Millennials vs. Gen X,33,Zeke,Adam,1,490,498

In [40]:
jury_votes_merge_3 = jury_votes_merge_2[["season","season_name","castaway_id_x","full_name"]].drop_duplicates(["full_name"]).reset_index(drop = True)
Q12 = jury_votes_merge_3.rename(columns = {"castaway_id_x":"winner_id"})
Q12

   season                      season_name  winner_id         full_name
0      14                   Survivor: Fiji        221         Earl Cole
1      18              Survivor: Tocantins        281  James Thomas Jr.
2      26               Survivor: Caramoan        348      John Cochran
3      31               Survivor: Cambodia        433    Jeremy Collins
4      33  Survivor: Millennials vs. Gen X        498        Adam Klein

**Q13:** For the `castaway_details` DataFrame, there is a `full_name` column and a `short_name` column.  It would be helpful for future analysis to have the contestants first and last name split into separate columns.  First copy the `castaway_details` DataFrame to a new DataFrame called `Q13` so that we do not change the original DataFrame.  

Create two new columns and add the contestant's first name to a new column called `first_name` and their last name to a new column called `last_name`.  Add these columns to the `Q13` DataFrame.  Put the `first_name` and `last_name` columns between the `full_name` and `short_name` columns.

Note:  Be careful as some players have last names with multiple spaces.  For example, `Lex van den Berghe`.  You should code `Lex` as his first name and `van den Berghe` as his last name.

In [41]:
castaway_details_names = castaway_details.copy() 
castaway_details_names['first_name'] = castaway_details_names.full_name.str.split(" ",expand = True)[0]
castaway_details_names['last_name'] = castaway_details_names.full_name.str.split(" ",expand = True)[1]
Q13 = castaway_details_names[["castaway_id","full_name","first_name","last_name","short_name","date_of_birth","date_of_death","gender","race","ethnicity","occupation","personality_type"]]

**Q14:** Let's say that we wanted to predict a contestants personality type based on the information in the data files.  Your task is to create a DataFrame that lists the `castaway_id`, `full_name` and `personality_type` for each castaway contestant.  However, since most machine learning algorithms use numeric data, you want to change the personality types to the following numbers:
- ISTJ - 1
- ISTP - 2
- ISFJ - 3
- ISFP - 4
- INFJ - 5
- INFP - 6
- INTJ - 7
- INTP - 8
- ESTP - 9
- ESTJ - 10
- ESFP - 11
- ESFJ - 12
- ENFP - 13
- ENFJ - 14
- ENTP - 15
- ENTJ - 16
- Missing values - 17

Save this new DataFrame as `Q14` and sort based on `castaway_id` in ascending order.

In [42]:
castaway_details_code = castaway_details.copy()
castaway_details_code

code_to_num = {"ISTJ":"1",
"ISTP": "2",
"ISFJ": "3",
"ISFP": "4",
"INFJ": "5",
"INFP": "6",
"INTJ": "7",
"INTP": "8",
"ESTP": "9",
"ESTJ": "10",
"ESFP": "11",
"ESFJ": "12",
"ENFP": "13",
"ENFJ": "14",
"ENTP": "15",
"ENTJ": "16",
"NaN": "17"
}

code_to_num

castaway_details_code["personality_type"] = castaway_details_code["personality_type"].map(code_to_num)
Q14 = castaway_details_code[["castaway_id", "full_name", "personality_type"]]

**Q15:** After thinking about this some more, you realize that you don't want to code the personality traits as you did in problem 14 since the data is not ordinal.  Some machine learning algorithms will assume that numbers close to each other are more alike than those that are away from each other and that is not the case with these personality types.

Let's create a new DataFrame called `Q15` that creates dummy columns (using `get_dummies`) for the original personality type column.  Add a prefix called "type" and drop the first column to help prevent multicollinearity.  The columns should be `castaway_id`, `full_name` followed by the various dummy columns for the personality types.  Don't worry about any missing values in this step.

Remember: Don't change any of the original DataFrames or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [43]:
# pd.get_dummies(ser, prefix='type')
castaway_details_dummy = castaway_details.copy()
castaway_details_dummy = pd.get_dummies(castaway_details_dummy, columns = ["personality_type"], prefix='type',drop_first=True)
Q15 = castaway_details_dummy.drop(columns =["short_name","date_of_birth","date_of_death","gender","race","ethnicity","occupation"])

**Q16:** After running your data above through your machine learning model, you determine that a better prediction might come from breaking the personality type into its four parts (one part for each character in the type).  Your task is now to create a DataFrame called `Q16` that splits the personality type into the various parts and creates a new column for each part (these columns should be called `interaction` that will represent the first letter in the personality type, `information` for the second letter, `decision` for the third, and `organization` for the fourth).

Again, since most machine learning algorithms work with numeric data, perform the following on the four new columns:
- `interaction` --> code all `I`'s as `0` and `E`'s as `1`
- `information` --> code all `S`'s as `0` and `N`'s as `1`
- `decision` --> code all `T`'s as `0` and `F`'s as `1`
- `organization` --> code as `J`'s with `0` and `P`'s as `1`
- Any missing values should be coded with a `2`
- Double check that all of the above columns are an integer type.  Some students have a problem with CodeGrade because one of their columns ends up being a string instead of an int.

For example, if a contestant's personality type was `ENTJ`, your columns for that row would be:
- `1` for `interaction` because of the `E`
- `1` for `information` because of the `N`
- `0` for `decision` because of the `T` 
- `0` for `organization` because of the `J`

The new DataFrame should be sorted in `castaway_id` order and have the following columns in this order: `castaway_id`, `full_name`, `personality_type`, `interaction`, `information`, `decision`, `organization`.

Remember: Don't change any of the original DataFrames or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [44]:
Q16a = castaway_details.copy()
Q16a["interaction"] = Q16a.loc[:,"personality_type"].str[0]
Q16a["information"] = Q16a.loc[:,"personality_type"].str[1]
Q16a["decision"] = Q16a.loc[:,"personality_type"].str[2]
Q16a["organization"] = Q16a.loc[:,"personality_type"].str[3]

code_to_num2 = {"I":"0",
"E": "1",
"S": "0",
"N": "1",
"F": "1",
"T": "0",
"J": "0",
"P": "1",}

code_to_num2

Q16a["interaction"] = Q16a["interaction"].map(code_to_num2)
Q16a["information"] = Q16a["information"].map(code_to_num2) 
Q16a["decision"] = Q16a["decision"].map(code_to_num2) 
Q16a["organization"] = Q16a["organization"].map(code_to_num2)


Q16a = Q16a[["castaway_id", "full_name", "personality_type", "interaction", "information", "decision", "organization"]]


Q16b = Q16a.fillna(2)
Q16b["interaction"] = Q16b["interaction"].astype(int)
Q16b["information"] = Q16b["information"].astype(int)
Q16b["decision"] = Q16b["decision"].astype(int)
Q16b["organization"] = Q16b["organization"].astype(int)
Q16b = Q16b.sort_values(by = ["castaway_id"])

Q16 = Q16b.reset_index(drop = True)
Q16

,castaway_id,full_name,personality_type,interaction,information,decision,organization
0,1,Sonja Christopher,ENFP,1,1,1,1
1,2,B.B. Andersen,ESTJ,1,0,0,0
2,3,Stacey Stillman,ENTJ,1,1,0,0
3,4,Ramona Gray,ISTJ,0,0,0,0
4,5,Dirk Been,ISFP,0,0,1,1
...,...,...,...,...,...,...,...
603,604,Tiffany Seely,ENTP,1,1,0,1
604,605,Sydney Segal,ESTP,1,0,0,1
605,606,Shantel Smith,ENFJ,1,1,1,0
606,607,David Voce,ENTJ,1,1,0,0
607,608,Liana Wallace,ESTJ,1,0,0,0

**Q17:** Using data from `castaways`, create a DataFrame called `Q17` that bins the contestant ages (their age when they were on the season, not their current age) into the following age categories:
- 18-24
- 25-34
- 35-44
- 45-54
- 55-64
- 65+

The final DataFrame should have the following columns in this order: `season`, `castaway_id`, `full_name`, `age`, and `age_category`.  The DataFrame should be sorted by age and then castaway_id.  The index should be 0 through n-1.  You should have the same amount of rows as in the `castaways` DataFrame.

Remember: Don't change any of the original DataFrames or CodeGrade will not work correctly for this assignment.  Make sure you use `copy()` if needed.

In [45]:
castaway_details.head()

# castaway_details_merge_2["age_at_season"] = (castaway_details_merge_2["filming_started"] - castaway_details_merge_2["date_of_birth"]).dt.days

,castaway_id,full_name,short_name,date_of_birth,date_of_death,gender,race,ethnicity,occupation,personality_type
0,1,Sonja Christopher,Sonja,1937-01-28,NaT,Female,NaN,NaN,Musician,ENFP
1,2,B.B. Andersen,B.B.,1936-01-18,2013-10-29,Male,NaN,NaN,Real Estate Developer,ESTJ
2,3,Stacey Stillman,Stacey,1972-08-11,NaT,Female,NaN,NaN,Attorney,ENTJ
3,4,Ramona Gray,Ramona,1971-01-20,NaT,Female,Black,NaN,Biochemist/Chemist,ISTJ
4,5,Dirk Been,Dirk,1976-06-15,NaT,Male,NaN,NaN,Dairy Farmer,ISFP

In [46]:
castaway_details.shape

(608, 10)

In [47]:
castaways.head()

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: 41,41,Erika Casupanan,594,Erika,32,Toronta,Ontario,ENFP,13,26,18,Sole Survivor,NaN,Luvu,NaN,NaN,Via Kana,2,8
1,Survivor: 41,41,Deshawn Radden,601,Deshawn,26,Miami,Florida,ENTP,13,26,17,Runner-up,NaN,Luvu,NaN,NaN,Via Kana,7,6
2,Survivor: 41,41,Xander Hastings,597,Xander,20,Chicago,Illinois,INFJ,13,26,16,2nd runner-up,NaN,Yase,NaN,NaN,Via Kana,2,6
3,Survivor: 41,41,Heather Aldret,593,Heather,52,Charleston,South Carolina,ISFJ,13,25,15,15th voted out,8th jury member,Luvu,NaN,NaN,Via Kana,4,6
4,Survivor: 41,41,Ricard Foye,596,Ricard,31,Sedro-Woolley,Washington,ENTJ,13,24,14,14th voted out,7th jury member,Ua,NaN,NaN,Via Kana,9,5

In [48]:
castaways.shape

(762, 20)

In [49]:
season_summary

,season_name,season,location,country,tribe_setup,full_name,winner_id,winner,runner_ups,final_vote,timeslot,premiered,ended,filming_started,filming_ended,viewers_premier,viewers_finale,viewers_reunion,viewers_mean,rank
0,Survivor: Borneo,1,"Pulau Tiga, Sabah, Malaysia",Malaysia,Two tribes of eight new players,Richard Hatch,16,Richard,Kelly Wiglesworth,4-3,Wednesday 8:00 pm,2000-05-31,2000-08-23,2000-03-13,2000-04-20,15.51,51.69,36.70,28.30,2.0
1,Survivor: The Australian Outback,2,"Herbert River at Goshen Station, Queensland, A...",Australia,Two tribes of eight new players,Tina Wesson,32,Tina,Colby Donaldson,4-3,Thursday 8:00 pm,2001-01-28,2001-05-03,2000-10-23,2000-12-03,45.37,36.35,28.01,29.80,1.0
2,Survivor: Africa,3,"Shaba National Reserve, Kenya",Kenya,Two tribes of eight new players,Ethan Zohn,48,Ethan,Kim Johnson,5-2,Thursday 8:00 pm,2001-10-11,2002-01-10,2001-07-11,2001-08-18,23.84,27.26,19.05,20.69,8.0
3,Survivor: Marquesas,4,"Nuku Hiva, Marquesas Islands, French Polynesia",Polynesia,Two tribes of eight new players,Vecepia Towery,64,Vecepia,Neleh Dennis,4-3,Thursday 8:00 pm,2002-02-28,2002-05-19,2001-11-12,2001-12-20,23.19,25.87,19.05,20.77,6.0
4,Survivor: Thailand,5,"Ko Tarutao, Satun Province, Thailand",Thailand,Two tribes of eight new players; picked by the...,Brian Heidik,80,Brian,Clay Jordan,4-3,Thursday 8:00 pm,2002-09-19,2002-12-19,2002-06-10,2002-07-18,23.05,24.08,20.43,21.21,4.0
5,Survivor: The Amazon,6,"Rio Negro, Amazonas, Brazil",Brazil,Two tribes of eight new players divided by gender,Jenna Morasca,96,Jenna,Matthew Von Ertfelda,6-1,Thursday 8:00 pm,2003-02-13,2003-05-11,2002-11-07,2002-12-15,23.26,22.29,20.43,19.97,9.0
6,Survivor: Pearl Islands,7,"Pearl Islands, Panama",Panama,Two tribes of eight new players,Sandra Diaz-Twine,112,Sandra,Lillian Morris,6-1,Thursday 8:00 pm,2003-09-18,2003-12-14,2003-06-23,2003-07-31,21.50,25.23,21.87,20.72,7.0
7,Survivor: All-Stars,8,"Pearl Islands, Panama",Panama,Three tribes of six returning players,Amber Brkich,27,Amber,Rob Mariano,4-3,Thursday 8:00 pm,2004-02-01,2004-05-09,2003-11-03,2003-12-11,33.53,24.76,21.87,21.49,3.0
8,Survivor: Vanuatu,9,"Efate, Shefa, Vanuatu",Vanuatu,Two tribes of nine new players divided by gender,Chris Daugherty,130,Chris,Twila Tanner,5-2,Thursday 8:00 pm,2004-09-16,2004-12-12,2004-06-28,2004-08-05,20.06,19.72,15.23,19.64,10.0
9,Survivor: Palau,10,"Koror, Palau",Palau,A schoolyard pick of two tribes of nine new pl...,Tom Westman,150,Tom,Katie Gallagher,6-1,Thursday 8:00 pm,2005-02-17,2005-05-15,2004-10-27,2004-12-04,23.66,20.80,15.23,20.91,5.0
10,Survivor: Guatemala,11,"Laguna Yaxha, Yaxha-Nakum-Naranjo National Par...",Guatemala,"Two tribes of nine, including two returning pl...",Danni Boatwright,166,Danni,Stephenie LaGrossa,6-1,Thursday 8:00 pm,2005-09-15,2005-12-11,2005-06-27,2005-08-04,18.41,21.18,15.21,18.30,8.0
11,Survivor: Panama,12,"Pearl Islands, Panama",Panama,Four tribes of four new players divided by age...,Aras Baskauskas,182,Aras,Danielle DiLorenzo,5-2,Thursday 8:00 pm,2006-02-02,2006-05-14,2005-10-31,2005-12-08,19.20,17.07,15.21,16.82,11.0
12,Survivor: Cook Islands,13,"Aitutaki, Cook Islands",Islands,Four tribes of five new players divided by eth...,Yul Kwon,202,Yul,"Ozzy Lusth, Becky Lee",5-4-0,Thursday 8:00 pm,2006-09-14,2006-12-17,2006-06-26,2006-08-03,18.00,16.42,13.53,15.75,13.0
13,Survivor: Fiji,14,"Macuata, Vanua Levu, Fiji",Fiji,Two tribes of nine new players divided by one ...,Earl Cole,221,Earl,"Cassandra Franklin, Andria Herd",9-0-0,Thursday 8:00 pm,2007-02-08,2007-05-13,2006-10-30,2006-12-07,16.68,13.63,13.53,14.83,15.0
14,Survivor: China,15,"Zhelin, Jiujiang, Jiangxi, China",China,Two tribes of eight new players,Todd Herzog,237,Todd,"Courtney Yates, Amanda Kimmel",4-2-1,Thursday 8:00 pm,2007-09-20,2007-12-16,2007-06-25,2007-08-02,15.35,15.10,12.22,15.18,8.0
15,Survivor: Micronesia,16,"Koror, Palau",Palau,Two tribes of ten: new players against past co...,Parvati Shallow,197,Parvati,Amanda Kimmel,5-3,Thursday 8:00 pm,2008-02-07,2008-05-11,2007-10-29,2007-12-06,14.02,12.92,12.22,13.61,11.0
16,Survivor: Gabon,17,"Wonga-Wongue Presidential Reserve, Estuaire, G...",Gabon,A schoolyard pick of two tribes of nine new pl...,Robert Crowley,265,Bob,"Susie Smith, Jessica Kiper",4-3-0,Thursday 8:00 pm,2008-09-25,2008-12-14,2008-06-23,2008-07-31,13.05,13.77,11.74,13.81,15.0
17,Survivor: Tocantins,18,"Jalapao, Tocantins, Brazil",Brazil,Two tribes of eight new players,James Thomas Jr.,281,J.T.,Stephen Fishbach,7-0,Thursday 8:00 pm,2009-02-12,2009-05-17,2008-11-02,2008-12-10,13.63,12.94,11.74,12.86,19.0
18,Survivor: Samoa,19,"Upolu, Samoa",Samoa,Two tribes of ten new players,Natalie White,301,Natalie,"Russell Hantz, Mick Trimming",7-2-0,Thursday 8:00 pm,2009-09-17,2009-12-20,2009-06-11,2009-07-19,11.66,13.97,11.68,12.34,17.0
19,Survivor: Heroes vs. Villains,20,"Upolu, Samoa",Samoa,Two tribes of ten returning players divided by...,Sandra Diaz-Twine,112,Sandra,"Parvati Shallow, Russell Hantz",6-3-0,Thursday 8:00 pm,2010-02-11,2010-05-16,2009-08-09,2009-09-16,14.15,13.46,11.68,12.60,14.0
20,Survivor: Nicaragua,21,"San Juan del Sur, Rivas, Nicaragua",Nicaragua,Two tribes of ten new players divided by age,Jud Birza,321,Fabio,"Chase Rice, Matthew Lenahan",5-4-0,Wednesday 8:00 pm,2010-09-15,2010-12-19,2010-06-14,2010-07-22,12.23,13.58,11.19,13.61,11.0
21,Survivor: Redemption Island,22,"San Juan del Sur, Rivas, Nicaragua",Nicaragua,"Two tribes of nine, including two returning pl...",Rob Mariano,55,Boston Rob,"Phillip Sheppard, Natalie Tenerelli",8-1-0,Wednesday 8:00 pm,2011-02-16,2011-05-15,2010-08-16,2010-09-23,11.17,13.30,10.97,12.59,18.0
22,Survivor: South Pacific,23,"San Juan del Sur, Rivas, Nicaragua",Nicaragua,"Upolu, Samoa",Sophie Clarke,353,Sophie,"Benjamin Wade, Albert Destrade",6-3-0,Wednesday 8:00 pm,2011-09-14,2011-12-18,2011-05-30,2011-07-07,10.74,13.07,9.92,12.77,18.0
23,Survivor: One World,24,"San Juan del Sur, Rivas, Nicaragua",Nicaragua,Two tribes of nine new players divided by gend...,Kim Spradlin,371,Kim,"Sabrina Thompson, Chelsea Meissner",7-2-0,Wednesday 8:00 pm,2012-02-15,2012-05-13,2011-08-01,2011-09-08,10.79,10.34,9.92,11.64,26.0
24,Survivor: Philippines,25,"Caramoan, Camarines Sur, Philippines",Philippines,"Three tribes of six, including three returning...",Denise Stapley,386,Denise,"Lisa Whelchel, Michael Skupin",6-1-1,Wednesday 8:00 pm,2012-09-19,2012-12-16,2012-03-18,2012-04-25,11.37,11.46,8.77,11.85,21.0
25,Survivor: Caramoan,26,"Caramoan, Camarines Sur, Philippines",Philippines,Two tribes of ten: new players against past co...,John Cochran,348,Cochran,"Dawn Meehan, Sherri Biethman",8-0-0,Wednesday 8:00 pm,2013-02-13,2013-05-12,2012-05-21,2012-06-28,8.94,10.16,8.77,10.82,28.0
26,Survivor: Blood vs. Water,27,"Palaui Island, Santa Ana, Cagayan, Philippines",Philippines,Two tribes of ten: returning contestants again...,Tyson Apostol,274,Tyson,"Monica Culpepper, Gervase Peterson",7-1-0,Wednesday 8:00 pm,2013-09-18,2013-12-15,2013-05-20,2013-06-27,9.73,10.19,7.46,11.30,25.0
27,Survivor: Cagayan,28,"Palaui Island, Santa Ana, Cagayan, Philippines",Philippines,Three tribes of six new players divided by pr...,Tony Vlachos,424,Tony,Yung Hwang,8-1,Wednesday 8:00 pm,2014-02-26,2014-05-21,2013-07-11,2013-08-18,9.40,9.58,7.46,11.30,25.0
28,Survivor: San Juan del Sur,29,"San Juan del Sur, Rivas, Nicaragua",Nicaragua,"Nine pairs of new players, each with a pre-exi...",Natalie Anderson,442,Natalie,"Jaclyn Schultz, Missy Payne",5-2-1,Wednesday 8:00 pm,2014-09-24,2014-12-17,2014-06-02,2014-07-10,9.75,9.79,7.31,11.35,31.0
29,Survivor: Worlds Apart,30,"San Juan del Sur, Rivas, Nicaragua",Nicaragua,Three tribes of six new players divided by soc...,Mike Holloway,460,Mike,"Carolyn Rivera, Will Sims II",6-1-1,Wednesday 8:00 pm,2015-02-25,2015-05-20,2014-08-04,2014-09-11,10.04,9.74,7.31,11.35,31.0
30,Survivor: Cambodia,31,"Koh Rong, Cambodia",Cambodia,Two tribes of ten returning players who only p...,Jeremy Collins,433,Jeremy,"Spencer Bledsoe, Tasha Fox",10-0-0,Wednesday 8:00 pm,2015-09-23,2015-12-16,2015-05-31,2015-07-08,9.70,9.45,6.49,10.99,26.0
31,Survivor: Kaoh Rong,32,"Koh Rong, Cambodia",Cambodia,Three tribes of six new players divided by pri...,Michele Fitzgerald,478,Michele,"Aubry Bracco, Tai Trang",5-2-0,Wednesday 8:00 pm,2016-02-17,2016-05-18,2015-03-30,2015-05-07,8.30,9.54,6.49,10.99,26.0
32,Survivor: Millennials vs. Gen X,33,"Mamanuca Islands, Fiji",Fiji,Two tribes of ten new players divided by gener...,Adam Klein,498,Adam,"Hannah Shapiro, Ken McNickle",10-0-0,Wednesday 8:00 pm,2016-09-21,2016-12-14,2016-04-04,2016-05-12,9.46,9.09,6.40,10.32,24.0
33,Survivor: Game Changers,34,"Mamanuca Islands, Fiji",Fiji,Two tribes of ten returning players,Sarah Lacina,414,Sarah,"Brad Culpepper, Troy Robertson",7-3-0,Wednesday 8:00 pm,2017-03-08,2017-05-24,2016-06-06,2016-07-14,7.64,8.48,6.40,10.32,24.0
34,Survivor: Heroes vs. Healers vs. Hustlers,35,"Mamanuca Islands, Fiji",Fiji,Three tribes of six new players divided by dom...,Ben Driebergen,516,Ben,"Chrissy Hofbeck, Ryan Ulrich",5-2-1,Wednesday 8:00 pm,2017-09-27,2017-12-20,2017-04-03,2017-05-11,8.33,8.70,5.97,10.28,25.0
35,Survivor: Ghost Island,36,"Mamanuca Islands, Fiji",Fiji,Two tribes of ten new players,Wendell Holland,536,Wendell,"Domenick Abbate, Laurel Johnson",6-5-0,Wednesday 8:00 pm,2018-02-28,2018-05-23,2017-06-05,2017-07-13,8.19,7.31,5.97,10.28,25.0
36,Survivor: David vs. Goliath,37,"Mamanuca Islands, Fiji",Fiji,Two tribes of ten new players divided by adver...,Nick Wilson,556,Nick,"Mike White, Angelina Keeley",7-3-0,Wednesday 8:00 pm,2018-09-26,2018-12-19,2018-03-29,2018-05-06,7.83,7.72,5.17,9.43,32.0
37,Survivor: Edge of Extinction,38,"Mamanuca Islands, Fiji",Fiji,"Two tribes of nine, including four returning p...",Chris Underwood,559,Chris,"Gavin Whitson, Julie Rosenberg",9-4-0,Wednesday 8:00 pm,2019-02-20,2019-05-15,2018-05-30,2018-07-07,7.75,7.21,5.17,9.43,32.0
38,Survivor: Island of the Idols,39,"Mamanuca Islands, Fiji",Fiji,Two tribes of ten new players. Past winners Ro...,Tommy Sheehan,590,Tommy,"Dean Kowalski, Noura Salman",8-2-0,Wednesday 8:00 pm,2019-09-25,2019-12-18,2019-03-21,2019-04-28,6.29,6.52,4.61,NaN,NaN
39,Survivor: Winners at War,40,"Mamanuca Islands, Fiji",Fiji,Two tribes of ten winners of past Survivor sea...,Tony Vlachos,424,Tony,"Natalie Anderson, Michele Fitzgerald",12-4-0,Wednesday 8:00 pm,2020-02-12,2020-05-13,2019-05-22,2019-06-29,6.68,7.94,4.61,NaN,NaN
40,Survivor: 41,41,"Mamanuca Islands, Fiji",Fiji,Three tribes of 6 new players,Eirka Casupanan,594,Erika,"Deshawn Radden, Xander Hastings",7-1-0,Wednesday 8:00 pm,2021-09-22,2021-12-15,NaT,NaT,6.25,5.82,4.00,NaN,NaN

In [50]:
castaways

,season_name,season,full_name,castaway_id,castaway,age,city,state,personality_type,episode,day,order,result,jury_status,original_tribe,swapped_tribe,swapped_tribe_2,merged_tribe,total_votes_received,immunity_idols_won
0,Survivor: 41,41,Erika Casupanan,594,Erika,32,Toronta,Ontario,ENFP,13,26,18,Sole Survivor,NaN,Luvu,NaN,NaN,Via Kana,2,8
1,Survivor: 41,41,Deshawn Radden,601,Deshawn,26,Miami,Florida,ENTP,13,26,17,Runner-up,NaN,Luvu,NaN,NaN,Via Kana,7,6
2,Survivor: 41,41,Xander Hastings,597,Xander,20,Chicago,Illinois,INFJ,13,26,16,2nd runner-up,NaN,Yase,NaN,NaN,Via Kana,2,6
3,Survivor: 41,41,Heather Aldret,593,Heather,52,Charleston,South Carolina,ISFJ,13,25,15,15th voted out,8th jury member,Luvu,NaN,NaN,Via Kana,4,6
4,Survivor: 41,41,Ricard Foye,596,Ricard,31,Sedro-Woolley,Washington,ENTJ,13,24,14,14th voted out,7th jury member,Ua,NaN,NaN,Via Kana,9,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,Survivor: Borneo,1,Dirk Been,5,Dirk,23,Spring Green,Wisconsin,ISFP,5,15,5,5th voted out,NaN,Tagi,NaN,NaN,NaN,4,2
758,Survivor: Borneo,1,Ramona Gray,4,Ramona,29,Edison,New Jersey,ISTJ,4,12,4,4th voted out,NaN,Pagong,NaN,NaN,NaN,6,2
759,Survivor: Borneo,1,Stacey Stillman,3,Stacey,27,San Francisco,California,ENTJ,3,9,3,3rd voted out,NaN,Tagi,NaN,NaN,NaN,6,1
760,Survivor: Borneo,1,B.B. Andersen,2,B.B.,64,Mission Hills,Kansas,ESTJ,2,6,2,2nd voted out,NaN,Pagong,NaN,NaN,NaN,6,1
761,Survivor: Borneo,1,Sonja Christopher,1,Sonja,63,Walnut Creek,California,ENFP,1,3,1,1st voted out,NaN,Tagi,NaN,NaN,NaN,4,0

In [51]:
castaway_details_merge_3 = castaways.copy()
# castaway_details_merge_3["age_at_season"] = (castaway_details_merge_3["premiered"] - castaway_details_merge_2["date_of_birth"]).dt.days
# castaway_details_merge_3["years_old"] = castaway_details_merge_3["age_at_season"] / 365
castaway_details_merge_3

castaway_details_merge_3["age_category"] = pd.cut(x = castaway_details_merge_3['age'],
                                bins = [17,24,34,44,54,65,122],
                                labels=["18-24", "25-34", "35-44", "45-54", "55-64", "65+"]) 


# castaway_details_merge_3 = castaway_details_merge_3.rename(columns = {"castaway_id_x":"castaway_id","full_name_x":"full_name"})
Q17 = castaway_details_merge_3[["season", "castaway_id", "full_name", "age", "age_category"]].sort_values(by = ["age","castaway_id"]).reset_index(drop = True)

**Q18:** Based on the age categories you created above, what are the normalized percentages for the various age categories using `value_counts()`.  Sort the value counts by index.  Save this as `Q18`.

In [52]:
normalization = (castaway_details_merge_3["age_category"].value_counts())/(len(castaway_details_merge_3))
index = ["18-24", "25-34", "35-44", "45-54", "55-64", "65+"]
Q18 = pd.Series(normalization, index = index)

**Q19:** Which contestant(s) played a perfect game?  A perfect game is considered when the contestant:
- didn't receive any tribal council votes all season (this is different than Q10 since some players played multiple times.  They got voted out in one season so they would not show in Q10 but they came back for another season and didn't receive any tribal council votes)
- won the game
- got unanimous jury votes (see question 12)

Save this DataFrame as `Q19` with the following columns: `season_name`, `season`, `castaway_id`, `full_name`, `tribal_council_votes`, `jury_votes`.  The DataFrame should be sorted by season and the index should be 0 to n-1.

In [53]:
#possible perfect winner must be one of these five#
perfect_winner = Q12.copy()
perfect_winner

   season                      season_name  winner_id         full_name
0      14                   Survivor: Fiji        221         Earl Cole
1      18              Survivor: Tocantins        281  James Thomas Jr.
2      26               Survivor: Caramoan        348      John Cochran
3      31               Survivor: Cambodia        433    Jeremy Collins
4      33  Survivor: Millennials vs. Gen X        498        Adam Klein

In [54]:
perfect_winner_list = perfect_winner["winner_id"].tolist()
perfect_winner_list

[221, 281, 348, 433, 498]

In [55]:
#see which of the five above had a vote ID in any season#
vote_history_perfect = vote_history[vote_history.vote_id.isin(perfect_winner_list)]
vote_history_perfect = vote_history_perfect.loc[:,["vote_id", "season"]].drop_duplicates(subset = ["vote_id","season"])
vote_history_perfect

      vote_id  season
120       498      40
214       433      40
963       281      34
1124      498      33
1437      433      31
1634      433      29
2293      348      23
2781      281      20
3365      221      14

In [56]:
#see all seasons the above were in#
castaway_details_perfect = castaway_details_merge[castaway_details_merge.castaway_id_x.isin(perfect_winner_list)]
castaway_details_perfect = castaway_details_perfect.loc[:,["castaway_id_x", "season"]].sort_values(by = ["castaway_id_x","season"], ascending = False)
castaway_details_perfect

#matching combos can't be perfect#
#excluded: 640, 641, 556, 557, 558, 446, 
#possible: 445(348,26), 362(281,34), 364(281,18)

     castaway_id_x  season
640            498      40
641            498      33
556            433      40
557            433      31
558            433      29
445            348      26
446            348      23
362            281      34
363            281      20
364            281      18
285            221      14

In [57]:
#to be perfect in the above combos they also needed to win the season#
perfect_winner = Q12.copy()
perfect_winner 
#possible perfect seasons: 445(348,26), 362(281,34), 364(281,18)
#season 34 winner was not #281#
#perfect seasons: 445(348,26),364(281,18)

   season                      season_name  winner_id         full_name
0      14                   Survivor: Fiji        221         Earl Cole
1      18              Survivor: Tocantins        281  James Thomas Jr.
2      26               Survivor: Caramoan        348      John Cochran
3      31               Survivor: Cambodia        433    Jeremy Collins
4      33  Survivor: Millennials vs. Gen X        498        Adam Klein

In [58]:
jury_votes_final = jury_votes[(jury_votes["finalist_id"] == 348) | (jury_votes["finalist_id"] == 281)]
jury_votes_final_2 = jury_votes_final[(jury_votes_final["season"] == 26) | (jury_votes_final["season"] == 18)]
jury_votes_final_2_grouped = jury_votes_final_2.groupby(["finalist_id"])
jury_votes_final_2_df = jury_votes_final_2_grouped.sum().reset_index()
jury_votes_final_2_df

   finalist_id  season  vote  castaway_id
0          281     126     7         1932
1          348     208     8         2794

In [59]:
final_merge = castaways.merge(vote_history, left_on = "castaway_id", right_on = "castaway_id")
final_merge_2 = final_merge[(final_merge["castaway_id"] == 348) | (final_merge["castaway_id"] == 281)]
final_merge_3 = final_merge_2[(final_merge_2["season_x"] == 26) | (final_merge["season_x"] == 18)]
final_merge_3 = final_merge_3.loc[:,["season_name_x", "season_x","castaway_id","full_name","total_votes_received"]]
final_merge_3_df = final_merge_3.drop_duplicates().reset_index(drop = True)
final_merge_4 = final_merge_3_df.merge(jury_votes_final_2_df, left_on = "castaway_id", right_on = "finalist_id")
final_merge_4 = final_merge_4.loc[:,["season_name_x","season_x","castaway_id_x","full_name","total_votes_received","vote"]]
final_merge_4 = final_merge_4.rename(columns = {"season_name_x":"season_name","season_x":"season","castaway_id_x":"castaway_id","total_votes_received":"tribal_council_votes","vote":"jury_votes"})
Q19 = final_merge_4

/var/folders/86/hhnttg511rx7rjhk86mrn9700000gn/T/ipykernel_33662/1148391454.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  final_merge_3 = final_merge_2[(final_merge_2["season_x"] == 26) | (final_merge["season_x"] == 18)]